.howTo .bottom {
	position: fixed;
	bottom: 10px;
	z-index: 1;
}

.howTo .bottom button {
	min-width: 140px;
}

.howTo.dark .modal-content {
	background-color: var(--middleGray);
}

.howTo p.example {
	line-height: 110%;
	font-style: italic;
	font-size: 90%;
	font-weight: 400;
}
